body{
    background: url();
}

img{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#card{
    border: 3px solid blue;
    width: 300px;
    padding: 5px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(230, 120, 230);
    margin-top: 30px;

}
h3{
    text-align: center;
    color: blue;
}
p{
    text-align: justify;
}